@media print, (max-width: 1023px) {


     :root
    {
        --font_size: 14px;
        --font_size_title: 34px;
    }
    header .mob_menu_btn {
        display: flex;
        order: -1;
        margin-left: 0;
        margin-right: 20px;
    }
    header .mob_menu_btn img {
        width: 25px;
    }
    header .menu {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        display: flex;
        overflow: auto;

        width: 310px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 85px 20px;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .close_btn img {
        width: 20px;
    }
    header .menu.show
    {
        transform: translateX(0);
    }
    header .menu .close_btn
    {
        display: flex;
    }
    header .menu .item
    {
        width: 100%;
    }

    header .menu .item + .item
    {
        margin-left: 0;
    }

    header .menu .item > a
    {
        display: block;

        height: auto;
        padding: 17px 0;

        text-align: left;
        color: #000;
    }

    .first_section-img {
        width: 340px;
        height: 360px;
        margin-top: 0;
    }
    .first_section {
        padding-top: 30px;
    }
    .first_section .title {
        font-size: 38px;
    }
    .first_section ul li {
        font-size: 16px;
        padding-left: 12px;
    }
    .first_section ul li::before {
        width: 3px;
        height: 3px;
        left: 0px;
        top: 12px;
    }
    .first_section .info {
        width: calc(100% - 370px);        
    }
    .first_section ul {
        margin-bottom: 25px;
    }
    .first_section .link .green, 
    .first_section .link .white {
        width: 130px;
        height: 42px;
        font-weight: 600;
        font-size: 16px;
        padding: 0 20px;
        line-height: 42px;
    }
    .block {
        padding: 40px 0;
    }
    .services_item-title,
    .advantages_item-title {
        font-size: 18px;
        line-height: 126.8%;
    }
    .services_items > * {
        margin-left: 30px;
        width: calc(100%/3 - 30px);
    }
    .services_items {
        margin-left: -30px;
    }
    .services_item-icon {
        border-radius: 25px;
        width: 90px;
        height: 90px;
        margin: 0 auto 15px;
    }
    .advantages_text {
        font-size: 18px;
    }
    .advantages_items {
        margin-bottom: -40px;
    }
    .advantages_items > * {
        margin-bottom: 40px;
        width: calc(100%/2 - 30px);
    }
    .advantages_item-icon {
        border-radius: 15px;
        width: 70px;
        height: 70px;
    }
    .advantages_item-info {
        margin-left: 15px;
    }
    .documents_item-title {
        font-size: 18px;
        line-height: 129.8%;
        margin-top: 15px;
    }
    .documents_items > * {
        padding: 30px 15px;
    }
    .documents_item-icon img {
        width: 60px;
        height: 60px;
    }
    .footer_item .link {
        flex-direction: column;
    }
    footer .link a:first-child {
        margin-right: 0px;
        margin-bottom: 13px;
    }
    footer .link .white {
        width: 140px;
    }
    .footer_logo {
        font-size: 32px;
    }




    
}
