@media print, (max-width: 767px) {

    :root
    {
        --font_size_title: 28px;
    }
    .first_section .cont {
        flex-direction: column;
    }
    .first_section .info {
        width: 100%;
    }
    .first_section-img {
        margin: 10px auto 0;
        width: 420px;
        height: 450px;
    }
    .first_section {
        padding-bottom: 10px;
    }
    header .logo {
        margin-right: 15px;
        font-size: 26px;
        line-height: 1.2;
    }
    header .link .green {
        width: 90px;
        height: 35px;
        line-height: 35px;
        padding: 0px 10px;
    }
    header .link .white {
        width: 117px;
        height: 35px;      
        line-height: 35px;    
        padding: 0px 10px;
    }
    .first_section .link .green, 
    .first_section .link .white {
        width: 200px;
    }
    .first_section .title {
        font-size: 32px;
    }
    .first_section ul li {
        font-size: 15px;
    }
    .services_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -30px;
        margin-bottom: -40px;
    }
    .services_items > * {
        margin-left: 30px;
        width: calc(100%/2 - 30px);
    }
    .block_head,
     .advantages .block_head {
        margin-bottom: 25px;
    }
    .advantages_text {
        font-size: 16px;
    }
    .advantages_items {
        margin-left: 0;
        margin-bottom: -25px;
    }
    .advantages_items > * {
        margin-bottom: 25px;
        width: 100%;
        margin-left: 0;
    }
    .documents_item-icon img {
        width: 45px;
        height: 45px;
    }
    .documents_items > * {
        padding: 20px 8px;
    }
    .documents_item-title {
        font-size: 16px;
        line-height: 123.8%;
        margin-top: 10px;
    }
    .footer_items {
        padding-top: 20px;
    }
    .footer_items {
        flex-wrap: wrap;
    }
    .footer_items > * {
        width: 100%;
        margin-right: 0px;
    }
    .footer_item:nth-child(2) {
        width: 100%;
        margin-top: 0px;
    }
    .footer_item:nth-child(3) {
        width: 100%;
        margin-top: 15px;
    }
    .footer_item .link {
        flex-direction: row;
        margin-top: 15px;
    }
    footer .link a:first-child {
        margin-right: 13px;
        margin-bottom: 0px;
    }
    .footer_item:nth-child(1) {
        order: 1;
        margin-top: 15px;
    }
    footer {
        padding-bottom: 25px;
    }
    footer .copy {
        margin-top: 15px;
    }
    .footer_item-title {
        font-size: 17px;
        margin-bottom: 3px;
    }
    footer .link .white,
    footer .link .green {
        width: 200px;
    }
    .documents {
        margin-bottom: 35px;
    }




}
