@media (max-width: 479px) {

    :root
    {
        --font_size_title: 24px;
        --font_size: 13px;
    }
    header {
        padding: 20px 0;
    }
    header .link {
        width: 100%;
        margin-top: 15px;
    }
    header .cont {
        flex-wrap: wrap;
    }
    header .logo {
        margin-right: auto;
        font-size: 28px;
    }
    .first_section {
        padding-bottom: 0px;
        padding-top: 15px;
    }
    .first_section .title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .first_section .title br {
        display: none;
    }
    .services_items {
        margin-left: 0px;
        margin-bottom: -20px;
    }
    .services_items > * {
        margin-left: 0px;
        width: 100%;
    }
    .services_item-title, 
    .advantages_item-title {
        font-size: 17px;
    }
    .services_item-icon {
        border-radius: 10px;
        width: 50px;
        height: 50px;
        padding: 8px;
        margin: 0 auto 15px;
    }
    .services_item-icon img {
        width: 100%;
    }
    .block {
        padding: 25px 0;
    }
    .advantages_text {
        font-size: 15px;
    }
    .documents_item-title {
        font-size: 15px;
        margin-top: 8px;
    }
    .documents_item-icon img {
        width: 35px;
        height: 35px;
    }
    .footer_logo {
        text-align: center;
        font-size: 28px;
    }
    .first_section-img {
        margin: 0px auto;
        width: 100%;
        height: auto;
    }
    header .menu .item > a {
        font-size: 18px;
    }
    header .link .green,
    header .link .white {
        width: 160px;
    }
    .advantages_item-icon {
        border-radius: 10px;
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    .main-content_form .submit {
        width: 100%;
    }


   
}
